@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Helvetica;
  src: url(/fonts/helvetica.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(/fonts/helvetica-light.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(/fonts/helvetica-bold.ttf);
}
